 	<!-- FOOTER -->
  <div class="footer">
    <p class="pull-right">&copy; Open Cleveland {{ site.time | date: '%y' }} | <a href="https://github.com/opencleveland/opencleveland.github.io"><i class="icon-github"></i> Pull requests welcome!</a></p>
  </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10.3/ICanHaz.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% for script in page.scripts %}
  <script src="{{ site.baseurl }}/js/{{script}}"></script>
{% endfor %}
<!-- Google Analytics on open cleveland's acount-->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141188155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141188155-1');
</script>
